<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">


    <bean id="development-course" class="hu.soter.spring_second.DevelopementCourse">
        <property name="courseId" value="001" />
        <property name="courseName" value="Java Training" />
    </bean>
    
    
    <bean id="drawing-course" class="hu.soter.spring_second.DrawingCourse">
        <property name="courseId" value="002" />
        <property name="courseName" value="Right hemisphere drawing" />
    </bean>

        
</beans>
