<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">
    
    <context:component-scan base-package="hu.soter.spring_first" />
    
    <bean class="hu.soter.spring_first.User">
        <property name="name" value="Joska" />
    </bean>
    
    <bean id="city" class="java.lang.String">
        <constructor-arg value="Budapest" />
    </bean>
        
    <bean id="street" class="java.lang.String">
        <constructor-arg value="Rozsadomb" />
    </bean>
        
    <bean id="number" class="java.lang.Integer">
        <constructor-arg value="3" />
    </bean>
</beans>
