@CHARSET "ISO-8859-1";

div {
	font-weight: normal;
}

html {
	font-weight: bold;
}

#blue-div {
    color: blue;
}

#red-div {
    color: red;
}

.italic-font {
	font-style: italic;
}

.underlined {
	text-decoration: underline;
}

.underlined.italic-font {
	border: 1px solid black;
}

div p {
	text-decoration: line-through;
}

.modal {
    position: fixed;
    top: 90px;
    left: 300px;
    border: 1px solid black;
    padding: 10px;
    background-color: lightgray;
}